.blog-nav__container { max-width: 960px; }
header {
	padding: 150px 40px 40px;
	margin-bottom: 40px;
	text-align: center;
	background-color: #291b2c;
	color: #fff;
}
header h1 { margin: 0;  }
header p { color: #bbb; }
.container {
	max-width: 960px;
	margin: 0 auto 20px;
	padding: 0 20px;
}
.container:before {
	content: " ";
	display: table;
}
.banner-image {
	max-width: 100%;
	margin-bottom: 20px;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}
.section-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.btn {
	display: inline-block;
	margin: 0 10px;
	padding: 8px 10px;
	border-radius: 4px;
	text-decoration: none;
}
.btn:hover,
.btn:focus { text-decoration: none; }
.btn-primary {
	color: #fff;
	border: 1px solid #bf9343;
	background-color: #bf9343;
	transition: background-color 0.3s ease-in-out;
}
.btn-primary:focus,
.btn-primary:hover {
	background-color: #bf9343;
	border-color: #bf9343;
	color: #fff;
}
.btn-secondary {
	border: 1px solid #cca969;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #bf9343;
	border-color: #bf9343;
}
.info-text {
	font-size: 1.2em;
	line-height: 1.5;
}
#disqus_thread { padding: 4.2em 0; }