header {
	position: relative;
	padding: 150px 40px 100px;
	margin-bottom: 40px;
	color: #fff;
	text-align: center;
	background-color: #291b2c;
	background-image: url('https://source.unsplash.com/KT3WlrL_bsg/1600x400');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	h1 { margin: 0; }
	p {
		color: #ccc;
		margin: 20px auto;
	}
	.btn { margin-bottom: 10px; }
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #291b2c;
		z-index: 1;
		opacity: 0.7;
	}
	.info {
		position: relative;
		z-index: 2;
	}
}

.article-section {
	max-width: 760px;
	margin: 0 auto 20px;
	padding: 0 20px;
	.banner-image {
		max-width: 100%;
		margin-bottom: 20px;
		border: 1px solid #ddd;
	}
	&:before {
		content: " ";
		display: table;
	}
	.section-title {
		margin-top: 40px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		@media(max-width:481px) { font-size: 1.5em; }
	}
	p { font-size: 18px; }
}

.directory-structure {
	white-space: pre-line;
	> i { color: #999; }
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

.btn {
	display: inline-block;
	margin: 0 10px;
	padding: 8px 16px;
	font-weight: 400;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
	transition: background-color 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
	text-decoration: none;
	color: #fff;
	background-color: #bf9343;
	border-color: #bf9343;
}

#disqus_thread { padding: 4.2em 0; }