@media (max-width: 760px) {
	body { font-size: 14px; }
}
.awesome-jade .hero {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	    align-items: flex-end;
	min-width: 100%;
	min-height: 500px;
	background-image: url('hero-image.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3.5em;
}
.awesome-jade .hint {
	color: #777;
	font-size: 75%;
}
.awesome-jade .article-info {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	padding-bottom: 40px;
	
}
@media (min-width: 900px) {
	.awesome-jade .article-info {
		-ms-flex: 1;
		    flex: 1;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		    align-items: center;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
}
.awesome-jade .article-title {
	margin-bottom: 1.2em;
	color: #fff;
	font-size: 3em;
	font-weight: 500;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.8);
}
@media (min-width: 900px) {
	.awesome-jade .article-title {
		margin: 0;
	}
}
.awesome-jade .blog-author .article-time,
.awesome-jade .blog-author__short-bio {
	color: #eee;
}
.awesome-jade .blog-author {
	text-shadow: 3px 3px 5px rgba(0,0,0,0.8);
}
.awesome-jade header,
.awesome-jade section {
	max-width: 760px;
	margin: 0 auto;
	padding: 0 20px;
}
.awesome-jade .section-title {
	margin-top: 2.5em;
}
.awesome-jade section > p {
	font-size: 1.2em;
	line-height: 1.5;
	margin-bottom: 1.5em;
}
.awesome-jade #disqus_thread {
	padding: 4.2em 0;
}
@media (min-width: 760px) {
	.awesome-jade .two-images {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		    align-items: flex-start;
		-ms-flex-pack: start;
		    justify-content: flex-start;
		margin-bottom: 40px;
	}
	.awesome-jade .two-images  img {
		width: 50%;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}
}
.awesome-jade code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}
.awesome-jade section > p a {
	color: #009cdc;
}
.awesome-jade .referances-list a {
	font-size: 1.2em;
	line-height: 1.5;
	color: #009cdc;
}